/*******************CSS index.css*/
/*reset css*/
/*end reset css*/
/*typography*/
.langitem{
    font-family: Tajawal;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 29px;
    mix-blend-mode: normal;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.langbar a, .navitem a, .langbar_footer a{
    text-decoration: none;
    color: black;
}
.langbar,.langbar a:hover,.langbar_footer, .langbar_footer a:hover{
    text-decoration: underline;
}
    .navitem {
        font-family: 'Philosopher', sans-serif;
        font-style: normal;
        font-weight: normal;
        line-height: 29px;
        filter: drop-shadow(2px 4px 4px rgba(0, 0, 0, 0.767));
    }  
    .navitem:hover{
        color:white;
    }  
.art_title p{
    font-weight: 600;
    font-family: 'Trirong', serif;
    text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.219);
}
.art_content p{
    font-family: 'Trirong', serif;
    font-weight: 500;
    font-size: 1.15rem;
}  
.langbar_footer{
    font-family: Tajawal;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
}
/***************************BODY***************************************/    
body{
    margin: 0;
    height: 100vh;
    background-image: url(/css/img/bg_mobile.png);
    background-size: cover;
}
    /************************HEADER**************************************/
    header{
        display: none;
    }
    /*****************************************NAV******************************/
    nav{
        width: 100%;
        justify-self: center;
        height: 65px;
        display: flex;
        align-items: center;
        justify-items: center;
        justify-content: space-evenly;
        margin-top: 1rem;
        background:rgb(0, 0, 0, 0.671);
        opacity: .85;  
    }  
        .navitem{
            display: grid; 
            height: 30px;
        } 
        .navitem:hover{
            color: tomato;
        }
        .nav_active{
            color: tomato;
            border-bottom: 1px solid rgba(255, 85, 0, 0.267);
        }
        #port-nav,#over-nav{
            cursor: pointer;
        }
    /*************************************MAIN**********************************/
    main{
        display: grid;
        grid-template-columns: 100% 100%;
        justify-items: center;
    }
    .main_port{
        min-height:100vh;
        width: 100%;
        display: grid;
        justify-self: center;
    }
        .container_articles{
            width: 60%;
            display: grid;
            grid-template-rows: repeat(auto-fit);
            grid-row-gap: .3rem;
            padding: 1rem;
        }
            #cooking-book-id,#zeeslag-id{
                background-size: cover;
                background-repeat: no-repeat;
                cursor: pointer;
                box-sizing: border-box;
                transition: all 1s ease-in-out;
            }
            #cooking-book-id:hover,#zeeslag-id:hover,#cooking-book-id:hover,#zeeslag-id:focus{
                outline: .5px solid rgba(255, 99, 71, 0.493);
                opacity:.95;
            }
            #cooking-book-id{
                background-image: url(img/bg3.jpg);
            }
            #zeeslag-id{
                background-image: url(img/sea.jpg);
            }
            .articlebox{
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: center;
            }
                .art_title{
                    width: 25%; 
                }
                    .art_title a{
                        text-decoration: none;
                    }
                        .art_title p{
                            padding: .1rem;
                            text-align: center;
                                border: 1px solid rgba(164, 175, 173, 0.342);
                                border-radius: 20%;
                                color: rgba(252, 1, 1, 0.815);
                                background: #f9f9f9;
                                    opacity: .85;         
                            }
                        .art_title p:hover{
                            text-decoration: underline;
                        }    
                .art_content{
                    width: 65%;
                        text-align: center;
                        opacity: .75;
                }
                 
    .main_over{
        min-height: 50vh;
        width: 100%;
        justify-self: center;
        background-image: url(/css/img/bg_mobile.png); 
        display: grid;
    }
        .container_main_content{
            width: 60%;
            justify-self: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-top: 1rem;/*
            border-bottom: 4px solid rgb(0, 0, 0, 0.671);
            border-radius: 2%;*/
            opacity: .85;         
        }
            .container_main_content>*{
                width: 80%;
            }  
                .container_image{
                    display: flex;
                    justify-content: center;
                    width: 100%;
                }
                    .container_image img{
                        width: 80%;
                    }
                .content_title{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    min-height: 50px;
                    text-align: center;
                }    
                .content_content{
                    margin-bottom: .1rem;
                    padding: 0.5rem;
                    text-align: center;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;           
                }
                    .content_content>*{
                        margin-top: .3rem;
                    } 
/*******************************************ANIMATION MAIN*********************************************/
                .undisplayed{
                    display: none;
                }
                .displayed{
                    display: grid;
                }                 
                .transform {
                    transition: all 2s ease;/* vendorless fallback */
                    -webkit-transition: all 2s ease; /*safari and chrome */
                    -moz-transition: all 2s ease;  /* Firefox */
                    -o-transition: all 2s ease;  /* opera */
                    -ms-transition: all 2s ease; /* IE 10 */
                    
                }
                .transform_fast{
                    transition: all 0.5s linear;
                }
                .center_toleft {
                    
                    background-color: #45CEE0;
                    /*
                    background-color: rgb(0, 0, 0, 0.671);*/
                    margin-left:-200%;
                }
                .left_tocenter{
                    margin-left:0;
                }
                .right_tocenter{
                    margin-right: 200%;
                }
                .center_toright{
                    margin-right: 0;
                }
                
    /*************************************FOOTER*******************************/
    footer{
        align-self: end;
    }
        .footer_wrapper{
            /*border: 1px solid tomato;*/
            min-height: 92px;
            align-self: end;
            display: grid;

            align-content: center;
                background: rgba(190, 190, 190, 0.2);
                opacity: 0.55;      
        }
            .langbar_footer{
                display: flex;
                opacity: .5;
                background:rgba(238, 233, 220, 0.178);
                color: ivory;
                /*border: 1px solid tomato*/
            }
            .langitem_footer{
                margin: 1ch;
            }  
            .msgbar_footer{
                /*border: 1px solid tomato;*/
                justify-self:center;
                font-family: "Abril Fatface", cursive;
            }

    /*-------------------------------------  < 288px  ----------------------------------------*/
    @media (max-width: 288px){
            /*--------------------------------------HEADER------------------------------------*/
            header{
                display: none;
            }
            /*-----------------------------------NAV------------------------------------------*/
            
            /*-----------------------------------MAIN------------------------------------------*/
            /*main_port*/
            .articlebox{
                flex-direction: column;
                align-items: center;
            }
            .art_title, .art_content{
                width: 85%;
            }
            /*main_over*/
            .container_main_content{
                width:80%
            }
            .container_main_content>*{
                width: 100%;
            }
            /**********************************FOOTER***********************************************/
            .langbar_footer{
                justify-content: space-evenly;
            } 
    }
    /*-------------------------------------  > 600px  ----------------------------------------*/
    @media (min-width: 600px){
    .wrapper{
        background-image: url(/css/img/bg_desktop.jpg);
    }    
        /*--------------------------------------HEADER------------------------------------*/
        header{
            display: flex;
            justify-content: flex-end;
            height: 37px;
            background: rgba(255, 255, 255, 0.75);
            opacity: .35;
        }
        .langbar{
            height: 70px;
            align-self: center;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-left: 1rem;
        }
            .langbar a:hover{
                color: rgb(138, 138, 138);
            }
            .langbar .langitem{
                margin-right: .89rem;
                font-family: Tajawal;
                    font-weight: 900;
                    font-size: 14px;
                    line-height: 17px;
                    mix-blend-mode: normal;
                    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
            }
        /*-----------------------------------NAV------------------------------------------*/
        nav{
            height: 104px;
            margin-top: 0;
            width:100%/*
            border-top: 4px solid rgba(218, 212, 212, 0.356);
            border-bottom: 4px solid rgba(218, 212, 212, 0.274);*/
        }   
            .navitem{
                height: 40px;
            }
                
        /*-----------------------------------MAIN-----------------------------------------*/
        main{
            /*border: 1px solid;*/
            background: rgba(255, 255, 255, 0.295);
            opacity: .85;
        }
        /*main_port*/
            .articlebox{
                flex-direction: column;
                        
            }
                .art_title{
                    max-width: 15%;
                }
                .art_content{
                    max-width: 40%;
                }       
                    .art_content p{
                        text-align: center;
                        font-size: 1.18rem;
                    }
            /*main_over*/

        /*------------------------------------FOOTER------------------------------------*/
        .footer_wrapper{
        min-height: 92px;
        align-self: end;
        display: grid;
        }
            .langbar_footer{
                    max-width: 76px;
                    margin-left: 1rem;
                    align-self: center; 
            }
                    
    }
    /*-------------------------------------  > 1200px  ----------------------------------------*/
    @media(min-width:1200px){
        /*-----------------------------------BODY-----------------------------------------*/
        body{
            padding: 0 10% 0 10%;
        }
        /*-----------------------------------MAIN-----------------------------------------*/
        .container_image {
            max-width: 85%;
        }
            .container_img img{
                width:100%
            }
    }