/*******************CSS portfolio_nl.html,portfolio_fr.html,portfolio_en.hmtl*/
/*typography*/
.langitem{
    font-family: Tajawal;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 29px;
    mix-blend-mode: normal;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.langbar a, .navitem a, .langbar_footer a{
    text-decoration: none;
    color: black;
}
.langbar .active_link, .langbar a:hover,.langbar_footer .active_link, .langbar_footer a:hover{
    text-decoration: underline;
}
    .navitem a{
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        line-height: 29px;
        filter: drop-shadow(2px 4px 4px rgba(0, 0, 0, 0.767));
    }    
.art_title p{
    font-weight: 600;
    font-family: 'Trirong', serif;
    text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.219);
}
.art_content p{
    font-family: 'Trirong', serif;
    font-weight: 500;
    font-size: 1.15rem;
}  
.langbar_footer{
    font-family: Tajawal;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
}
/***************************BODY***************************************/    
body{
    margin: 0;
}
/****************************WRAPPER***********************************/
.wrapper{
    display: grid;
        background: linear-gradient(#b6b6b62a,#f9f9f9);
        background-image: url(/css/img/bg_mobile.png);
}
    /************************HEADER**************************************/
    header{
        height: 96px;
        display: grid;
        grid-template-columns: 5% 30% 18%;
            background-image: linear-gradient(to right,#f9f9f9,rgba(193, 201, 201, 0.411),rgba(180, 194, 185, 0.349));
            opacity: .35;
    }
        .decoration_bars{
            height: 70px;
            align-self: center;
            border-left: 3px double;
            margin-left: 1rem;
        }
        .langbar{
            height: 70px;
            align-self: center;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-left: 1rem;
        }
        .langbar .langitem{
            margin-right: .89rem;
        }
        .homebutton{
            min-width: 92px;
            width: 15%;
            height: 96px;
            
            position: absolute;
            right: 1rem;
            
            display: grid;
        }
        .divhomeicon{
            display: grid;
        }
        #homebuttonimage{
            min-width: 75px;
            align-self: center;
            justify-self: center;
        }
    /*****************************************NAV******************************/
    nav{
        display: flex;
        align-items: center;
        justify-items: center;
        justify-content: space-evenly;
        margin-top: 1rem;
            border-radius: 3rem;
            background: rgba(104, 104, 104, 0.486);
            opacity: .82;
    }  
        .navitem{
            display: grid; 
        } 
        .navitem a{
            font-size: 1.05rem;
            align-self: center;
            text-align: center;
            color: rgb(243, 243, 243);
        }
        .nav_active{
            border-bottom: .1rem solid rgb(235, 235, 235);
        }
        .nav_inactive{
            border-bottom: .1rem solid rgba(255, 255, 255, 0);
        }
    /*************************************MAIN**********************************/
    main{
        background-image: url(/css/img/bg_mobile.png); 
    }
        .container_main_content{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            margin-top: 1rem;
                border-bottom: 4px solid rgb(0, 0, 0, 0.671);
                border-radius: 2%;
                opacity: .85;
                
        }
            .container_main_content>*{
                width: 80%;
            }  
                .container_image{
                    display: flex;
                    justify-content: center;
                }
                    .container_image img{
                        width: 100%;
                    }
                .container_content{
   
                }    
                    .content_title{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        min-height: 50px;
                        text-align: center;
                        }    
                    .content_content{
                            margin-bottom: .1rem;
                            padding: 0.5rem;
                            text-align: center;
                            display: flex;
                            flex-direction: column;
                            justify-content: space-evenly;
                                
                    }
                        .content_content>*{
                            margin-top: .3rem;
                                font-family: 'Trirong', serif;
                        }
                        .content_content_offer{
                            padding: 0;
                        }
                        .content_content_offer>*{
                            margin: .5ch;
                            padding: .1ch;
                        }

    /*************************************FOOTER*******************************/
    footer{
        background: url(/css/img/bg_mobile.png);
    }
        .footer_wrapper{
            min-height: 92px;
            align-self: end;
            display: grid;
            align-items: center;
                background: rgba(190, 190, 190, 0.2);
                opacity: 0.55;      
        }
            .langbar_footer{
                display: none;
            }    
            .navlogos{
                align-self: center;
                justify-self: center;
                height: 55%;
                width: 50%;
                display: flex;
                justify-content: space-around;
            }
            .logoitem{
                width: 50px;
                height: 100%
            }
            #logo_instagram, #logo_linkedin, #logo_fb{
                width: 100%;
                height: 100%;
        }
    /*-------------------------------------  < 288px  ----------------------------------------*/
    @media (max-width: 288px){
            /*--------------------------------------HEADER------------------------------------*/
            header{
                display: flex;
                flex-direction: column;
                    align-items: center;
                    padding: .75rem;
                    margin-bottom: 2rem;
            }
            .homebutton{
                position: relative;
                right: 0;
                order: 1;
            }
            .langbar{
                margin-left: 0;
                order: 2;
                width: 100%;
                display: flex;
            }
            #lang_en{
                margin-right: 0;
            }
            .decoration_bars{
                display: none;
            }
            /*-----------------------------------NAV------------------------------------------*/
            nav{
                margin-left: 0;
            } 
            /*-----------------------------------MAIN------------------------------------------*/
            .articlebox{
                flex-direction: column;
                align-items: center;
            }
            .art_title, .art_content{
                width: 85%;
            }
            /**********************************FOOTER***********************************************/
            .navlogos{
                width: 95%;
            }
    }
    /*-------------------------------------  > 600px  ----------------------------------------*/
    @media (min-width: 600px){
    .wrapper{
        background-image: url(/css/img/bg_desktop.jpg);
    }    
        header{
            display: flex;
            justify-content: flex-end;
            height: 37px;
                background: rgb(231, 231, 231);
                opacity: .35;
        }
            .decoration_bars,.homebutton{
                display: none;
            }
                .langbar a:hover{
                    color: rgb(138, 138, 138);
                }
                    .langitem{
                        font-family: Tajawal;
                        font-weight: 900;
                        font-size: 14px;
                        line-height: 17px;
                        mix-blend-mode: normal;
                        text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
                    }
        nav{
            height: 104px;
            margin-top: 0;
                opacity: .55;
        }   
            .navitem{
                height: 40px;
            }
                .navitem a{
                    font-size: 18px;
                    line-height: 22px;
                }
            .container_image{
                width: 40%;
                border: 2px solid rgba(224, 224, 224, 0.596);
                background-color: rgba(184, 184, 184, 0.247);
                    opacity: .95;
            }
            .container_content{
                display: flex;
                flex-direction: column;
                align-items: center;
                    background: rgba(247, 247, 247, 0.13);
                        opacity: .75;
            }  
                .content_content{
                    width: 50%;
                }  
        .footer_wrapper{
        min-height: 92px;
        align-self: end;
        display: grid;
        /*
        grid-template-columns: 0.2fr 1fr;
        */
        }
            .langbar_footer{
                    display: flex;
                    max-width: 76px;
                    margin-left: 1rem;
                    justify-content: space-around;
                    position: relative;
                    top: -48%;
            }
                .langitem_footer{
                    width: 25px;
                    font-family: Tajawal;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 17px;
                    mix-blend-mode: normal;
                        opacity: 0.55;
                        color: #1C1111;
                }           
    }